
@using UserModel=ADFSAndWIF.Models.User;
@model ADFSAndWIF.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @using (Html.BeginForm("LoginUser", "User", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Authentication:</td>
                <td>@Html.DropDownListFor(model => model.SelectedAuthenticationOption, UserModel.AuthenticationOptionSelectItemList)</td>
            </tr>
            <tr>
                <td>User Name:</td>
                <td>@Html.EditorFor(model => model.UserName)</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>@Html.PasswordFor(model => model.Password)</td>
            </tr>
        </table>
        <br />

        <input type="submit" name="btnLogin" value="login" />
    }
</div>

